{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
		About Rango
	{% endblock %}
		{% block body_block %}
		<h1>Rango says...</h1>
			<h2>here is the about page.</h2><br />
			This tutorial has been put together by Mark Morrison
			<strong>{{ boldmessage }}</strong><br />
			{% if visits %}
    		<p>visits: {{ visits }}</p>
    		{% endif %}
		</div>
		<div>
			<a href="/rango/">Index</a><br />
			<img src="{% static 'images/rango.jpg' %}" alt= "Picture of Rango" /> <!-- New Line -->
			<br />
			<img src="{{ MEDIA_URL }}cat.jpg" alt= "Picture of Cat." />
		</div>
	{% endblock %}


